<div class="wrapper">
  <table class="main" [formGroup]="formGroupControls">
    <!--  FIRST-->
    <tr>
      <td rowspan="2">
        <p-button class="btn-playing" size="large"
          (onClick)="onPlay()"
          [icon]="playing() ? 'pi pi-pause' : 'pi pi-play'">
        </p-button>
      </td>
      <td rowspan="2">
        <div class="bpm-control">
          <div> {{ bars() }} {{ playing() ? 'bars' : null }} </div>
          <div> BPM </div>
          <div> {{ bpm() }} </div>
        </div>
      </td>
      <td>
        <p-button class="btn-tap" (onClick)="tapTempo.tap()">tap</p-button>
      </td>
      <ng-container [formGroup]="formGroupBeats">
        <td class="module-counter">
          <div class="name"> Beats </div>
          <div class="func">
            <p-button (onClick)="decBeats()" icon="pi pi-minus"></p-button>
            <span> {{ beats }} </span>
            <p-button (onClick)="incBeats()" icon="pi pi-plus"></p-button>
          </div>
        </td>
        <td class="module-counter">
          <div class="name"> Subs </div>
          <div class="func">
            <p-button  (onClick)="decSubs()" icon="pi pi-minus"></p-button>
            <span> {{ subs }} </span>
            <p-button  (onClick)="incSubs()" icon="pi pi-plus"></p-button>
          </div>
        </td>
      </ng-container>

      <td rowspan="3">
        <p-slider formControlName="volume" orientation="vertical"  />
      </td>
    </tr>
    <!--  SECOND-->
    <tr>
      <td>
        <p-button class="btn-default" disabled>progressive tempo</p-button>
      </td>
      <td>
        <p-button class="btn-default"
                  [severity]="isBeatHiderActive() ? 'success' : 'primary'"
                  (click)="beatHiderVisible = true"
        >beat hider</p-button>
        <p-dialog header="Beat Hider" [modal]="true" [(visible)]="beatHiderVisible" [style]="{ width: '35rem' }">
          <span>The best tool to practice inner tempo</span>

          <h3>HIDER MODE</h3>
          <p-selectbutton
            [options]="hiderModeOptions" [formControl]="hiderModeOptionsControl"
            optionLabel="name" optionValue="value" aria-labelledby="basic"
          ></p-selectbutton>

          <h3>HIDE LIGHTS</h3>
          <p-toggleswitch [formControl]="hideLightsCheckedControl" />
          <div class="footer">
            <p-button label="OFF" (onClick)="isBeatHiderActive.set(false)"/>
            <p-button label="ON" (onClick)="isBeatHiderActive.set(true)"/>
          </div>

        </p-dialog>
      </td>
      <td class="module-swing">
        <div class="label">SWING {{ swing }} %</div>
        <p-slider formControlName="swing"  min="0" max="100"/>
      </td>
    </tr>
    <!--  THIRD-->
    <tr>
      <td>
        <div class="btn-count" [ngClass]="{ active: isShowCountSelect }">
          <p-button
            [ngClass]="{ selected: countPreStart }" (onClick)="isShowCountSelect = !isShowCountSelect"
          >count in</p-button>

          @if (isShowCountSelect) {
            <div class="select">
              <div class="option"
                   (click)="countPreStart = countPreStart === 1 ? null : 1; isShowCountSelect = false"
              > 1 </div>
              <div class="option"
                   (click)="countPreStart = countPreStart === 2 ? null : 2; isShowCountSelect = false"
              > 2 </div>
            </div>
          }
        </div>
      </td>
      <td class="td-bpm-count">
        <p-button icon="pi pi-minus" (onClick)="decBPM()"></p-button>
        <p-button icon="pi pi-plus" (onClick)="incBPM()"></p-button>
      </td>
      <td colspan="3">
        <p-slider formControlName="bpm" min="40" max="250" />

      </td>
    </tr>

    <!--  EDIT GROOVE-->
    <tr>
      <td colspan="6">
        @switch (formNavigationControl.value) {
          @case (sectionRoutes.Edit) {
            <section [formGroup]="formGroupGroove">
              <div class="fieldset" formArrayName="hh"
                   [ngClass]="['fieldset-' + subs, 'length-' + formGroupGroove.controls.hh.controls.length]">
                @for (_ of formGroupGroove.controls.hh.controls; track i; let i = $index) {
                  <label for="hh_{{i}}"
                         [attr.data-check]="_.value"
                         [ngClass]="{current: this.curBit() === i}"
                         (click)="onClickFormGroupGrooveLabel($event, _, _.value)">
                    <input type="checkbox" [formControlName]="i" id="hh_{{i}}">
                  </label>
                }
              </div>
              <div class="fieldset" formArrayName="snare"
                   [ngClass]="['fieldset-' + subs, 'length-' + formGroupGroove.controls.snare.controls.length]">
                @for (_ of formGroupGroove.controls.snare.controls; track i; let i = $index) {
                  <label for="snare_{{i}}"
                         [attr.data-check]="_.value"
                         [ngClass]="{current: this.curBit() === i}"
                         (click)="onClickFormGroupGrooveLabel($event, _, _.value)">
                    <input type="checkbox" [formControlName]="i" id="snare_{{i}}">
                  </label>
                }
              </div>
              <div class="fieldset" formArrayName="kick"
                   [ngClass]="['fieldset-' + subs, 'length-' + formGroupGroove.controls.kick.controls.length]">
                @for (_ of formGroupGroove.controls.kick.controls; track i; let i = $index) {
                  <label for="kick_{{i}}"
                         [attr.data-check]="_.value"
                         [ngClass]="{current: this.curBit() === i}"
                         (click)="onClickFormGroupGrooveLabel($event, _, _.value)">
                    <input type="checkbox" [formControlName]="i" id="kick_{{i}}">
                  </label>
                }
              </div>
            </section>
          }

          @case (sectionRoutes.Sounds) {
            <section>
              <table class="bank">
                <tr>
                  <td>
                    <ul appAutoScroll>
                      @for (s of sound; track s.key) {
                        <li [ngClass]="{ active: curActiveSounds.HH === s.key}"
                            (click)="setupActiveSound(this.drumHitsEnum.HiHat, s.key)"
                        > {{ s.value }} </li>
                      }
                    </ul>
                  </td>
                  <td>
                    <ul appAutoScroll>
                      @for (s of sound; track s.key) {
                        <li [ngClass]="{ active: curActiveSounds.SNARE === s.key }"
                            (click)="setupActiveSound(this.drumHitsEnum.Snare, s.key)"
                        > {{ s.value }} </li>
                      }
                    </ul>
                  </td>
                  <td>
                    <ul appAutoScroll>
                      @for (s of sound; track s.key) {
                        <li [ngClass]="{ active: curActiveSounds.KICK === s.key }"
                            (click)="setupActiveSound(this.drumHitsEnum.Kick, s.key)"
                        > {{ s.value }} </li>
                      }
                    </ul>
                  </td>
                </tr>
              </table>
            </section>
          }

          @case (sectionRoutes.Patterns) {
            <section>
              Patterns
            </section>
          }

          @case (sectionRoutes.Mixer) {
            <section>
              Mixer
            </section>
          }
        }
      </td>
    </tr>

    <!--  NAVIGATION-->
    <tr>
      <td colspan="3" class="navigate-section">
        <p-selectbutton
          [options]="navigationOptions1" [formControl]="formNavigationControl"
          optionLabel="name" optionValue="value" optionDisabled="disabled" aria-labelledby="basic"
        ></p-selectbutton>

      </td>
      <td colspan="3" class="navigate-section">
        <p-selectbutton
          [options]="navigationOptions2"
          optionLabel="name" optionValue="value" optionDisabled="disabled" aria-labelledby="basic"
        ></p-selectbutton>
      </td>
    </tr>

    <!--  BANK RHYTHM SOUND-->
    <tr>
      <td colspan="6">
        <table class="bank">
          <thead>
          <tr>
            <th>bank</th>
            <th>rhythm</th>
            <th>sounds</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul appAutoScroll [activeItem]="activeBank">
                @for (b of banks; track b.key) {
                  <li (click)="setBank(b.key)"
                      [ngClass]="{ active: activeBank === b.key }"
                  > {{ b.value }} </li>
                }
              </ul>
            </td>
            <td>
              <ul appAutoScroll [activeItem]="activeGrid">
                @for (r of (rhythms | rhythmFilter : activeBank); track r.key) {
                  <li (click)="setGrid(r.key)"
                      [ngClass]="{ active: activeGrid === r.key }"
                  > {{ r.value }} </li>
                }
              </ul>
            </td>
            <td>
              <ul appAutoScroll [activeItem]="activeSound">
                @for (s of sounds; track s.key) {
                  <li (click)="setSounds(s.key)"
                      [ngClass]="{ active: activeSound === s.key }"
                  > {{ s.value }} </li>
                }
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <!--  FOOTER  -->
    <tr class="footer">
      <td colspan="5">&copy; Dmytro Sekhno. 2025</td>
    </tr>
  </table>
</div>





