<!--<div class="preload" (click)="onFullscreen()" *ngIf="isPreload; else container">-->
<!--  Please click Enter to Full Screen-->
<!--</div>-->

<!--<ng-template #container>-->
<!--  <div class="container">-->
<!--    <div class="header">-->
<!--      <table [formGroup]="formGroupControls">-->
<!--        <tr>-->
<!--          <td rowspan="2" class="column-1">-->
<!--            <div class="btn-play">-->
<!--              <input type="checkbox" formControlName="playing" id="play">-->
<!--              <label for="play"></label>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td rowspan="2" class="column-1 wrapper-bpm">-->
<!--            <div> {{ bars }} {{ playing() ? 'bars' : null }} </div>-->
<!--            <div> BPM </div>-->
<!--            <div> {{ bpm }} </div>-->
<!--          </td>-->
<!--          <td rowspan="2" class="column-1">-->
<!--            <button class="btn-tap" (click)="tapTempo.tap()">tap</button>-->
<!--          </td>-->
<!--          <td class="column-1">-->
<!--            <button class="btn-primary"> prog tempo </button>-->
<!--          </td>-->
<!--          <td class="column-1 beats">-->
<!--            <div class="title"> Beats </div>-->
<!--            <div>-->
<!--              <button class="btn-secondary" (click)="decBeats()" disabled> - </button>-->
<!--              <span> {{ beats }} </span>-->
<!--              <button class="btn-secondary" (click)="incBeats()" disabled> + </button>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="column-1">-->
<!--            <button class="btn-primary"> beat hider </button>-->
<!--          </td>-->
<!--          <td class="column-1 subs">-->
<!--            <div class="title"> Subs </div>-->
<!--            <div>-->
<!--              <button class="btn-secondary" (click)="decSubs()" disabled> - </button>-->
<!--              <span> {{ subs }} </span>-->
<!--              <button class="btn-secondary" (click)="incSubs()" disabled> + </button>-->
<!--            </div>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="column-1">-->
<!--            <div class="btn-count" [ngClass]="{ active: isShowCountSelect }">-->
<!--              <button (click)="isShowCountSelect = !isShowCountSelect">count {{ countPreStart }}</button>-->
<!--              <div class="select" *ngIf="isShowCountSelect">-->
<!--                <div class="option" (click)="countPreStart = countPreStart === 1 ? null : 1; isShowCountSelect = false">1</div>-->
<!--                <div class="option" (click)="countPreStart = countPreStart === 2 ? null : 2; isShowCountSelect = false">2</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </td>-->
<!--          <td>-->
<!--            <button class="btn-temp" (click)="decBPM()"> <span> - </span> </button>-->
<!--            <button class="btn-temp" (click)="incBPM()"> <span> + </span> </button>-->
<!--          </td>-->
<!--          <td colspan="3">-->
<!--            <label class="range-bpm">-->
<!--              <input  type="range" min="40" max="250" formControlName="bpm">-->
<!--              <span [ngStyle]="{ width: (((bpm - 40) * 100) / 210) + '%' }"></span>-->
<!--            </label>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>-->
<!--            <button class="btn-primary"-->
<!--                    [ngClass]="{active: curSection === sectionRoutes.Edit}"-->
<!--                    (click)="setCurSection(sectionRoutes.Edit)"-->
<!--            >Groove</button>-->
<!--          </td>-->
<!--          <td>-->
<!--            <button class="btn-primary" disabled-->
<!--                    [ngClass]="{active: curSection === sectionRoutes.Mixer}"-->
<!--                    (click)="setCurSection(sectionRoutes.Mixer)"-->
<!--            >Mix</button>-->
<!--          </td>-->
<!--          <td>-->
<!--            <button class="btn-primary"-->
<!--                    [ngClass]="{active: curSection === sectionRoutes.Sounds}"-->
<!--                    (click)="setCurSection(sectionRoutes.Sounds)"-->
<!--            >SoundSet</button>-->
<!--          </td>-->
<!--          <td colspan="2" >-->



<!--            <label class="range-swing">-->
<!--              <input type="range" min="0" max="100" formControlName="swing">-->
<!--              <span [ngStyle]="{ width: swing + '%' }"></span>-->
<!--            </label>-->
<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="label">swing {{ swing }} %</div>&ndash;&gt;-->
<!--&lt;!&ndash;              <label class="swing-range">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="range" min="0" max="100" formControlName="swing">&ndash;&gt;-->
<!--&lt;!&ndash;                <span [ngStyle]="{ width: swing + '%' }"></span>&ndash;&gt;-->
<!--&lt;!&ndash;              </label>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->

<!--    </div>-->

<!--    <div class="footer" [ngSwitch]="curSection">-->
<!--      &lt;!&ndash; *** SECTION SELECT GROOVE *** &ndash;&gt;-->
<!--      <ng-container *ngSwitchCase="sectionRoutes.Default">-->
<!--        <table class="bank-mobile">-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <ul appAutoScroll [activeItem]="activeGrid">-->
<!--                <li *ngFor="let r of (rhythms | rhythmFilter : activeBank)" (click)="setGrid(r.key)"-->
<!--                    [ngClass]="{ active: activeGrid === r.key }"-->
<!--                > {{ r.value }} </li>-->
<!--              </ul>-->
<!--            </td>-->
<!--            <td>-->
<!--              <ul appAutoScroll [activeItem]="activeSound">-->
<!--                <li *ngFor="let s of sounds" (click)="setSounds(s.key)"-->
<!--                    [ngClass]="{ active: activeSound === s.key }"-->
<!--                > {{ s.value }} </li>-->
<!--              </ul>-->
<!--            </td>-->
<!--            <td>-->
<!--              <ul appAutoScroll [activeItem]="activeBank">-->
<!--                <li *ngFor="let b of banks" (click)="setBank(b.key)"-->
<!--                    [ngClass]="{ active: activeBank === b.key }"-->
<!--                > {{ b.value }} </li>-->
<!--              </ul>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; *** SECTION EDIT *** &ndash;&gt;-->
<!--      <ng-container *ngSwitchCase="sectionRoutes.Edit" [formGroup]="formGroupGroove">-->
<!--        <div class="fieldset" formArrayName="hh" [ngClass]="'fieldset-' + subs">-->
<!--          <ng-container *ngFor="let _ of formGroupGroove.controls.hh.controls; let i = index">-->
<!--            <label for="hh_{{i}}"-->
<!--                   [attr.data-check]="_.value"-->
<!--                   [ngClass]="{current: this.curBit() === i}"-->
<!--                   [ngStyle]="{width: editNoteWidth, height: editNoteHeight, marginBottom: editNoteMarginBottom}">-->
<!--              <input type="checkbox" [formControlName]="i" id="hh_{{i}}">-->
<!--            </label>-->

<!--          </ng-container>-->

<!--        </div>-->
<!--        <div class="fieldset" formArrayName="snare" [ngClass]="'fieldset-' + subs">-->
<!--          <ng-container *ngFor="let _ of formGroupGroove.controls.snare.controls; let i = index">-->
<!--            <label for="snare_{{i}}"-->
<!--                   [attr.data-check]="_.value"-->
<!--                   [ngClass]="{current: this.curBit() === i}"-->
<!--                   [ngStyle]="{width: editNoteWidth, height: editNoteHeight, marginBottom: editNoteMarginBottom}">-->
<!--              <input type="checkbox" [formControlName]="i" id="snare_{{i}}">-->
<!--            </label>-->

<!--          </ng-container>-->
<!--        </div>-->
<!--        <div class="fieldset" formArrayName="kick" [ngClass]="'fieldset-' + subs">-->
<!--          <ng-container *ngFor="let _ of formGroupGroove.controls.kick.controls; let i = index">-->
<!--            <label for="kick_{{i}}"-->
<!--                   [attr.data-check]="_.value"-->
<!--                   [ngClass]="{current: this.curBit() === i}"-->
<!--                   [ngStyle]="{width: editNoteWidth, height: editNoteHeight}">-->
<!--              <input type="checkbox" [formControlName]="i" id="kick_{{i}}">-->
<!--            </label>-->

<!--          </ng-container>-->
<!--        </div>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; *** SECTION MIXER *** &ndash;&gt;-->

<!--      &lt;!&ndash; ***  SECTION SOUND ***&ndash;&gt;-->
<!--      <ng-container *ngSwitchCase="sectionRoutes.Sounds">-->
<!--        <table class="bank-mobile">-->
<!--          <tr>-->
<!--            <td>-->
<!--              <ul>-->
<!--                <li *ngFor="let s of sound"-->
<!--                    [ngClass]="{ active: curActiveSounds.HH === s.key}"-->
<!--                    (click)="setupActiveSound(this.drumHitsEnum.HiHat, s.key)"-->
<!--                > {{ s.value }} </li>-->
<!--              </ul>-->
<!--            </td>-->
<!--            <td>-->
<!--              <ul>-->
<!--                <li *ngFor="let s of sound"-->
<!--                    [ngClass]="{ active: curActiveSounds.SNARE === s.key }"-->
<!--                    (click)="setupActiveSound(this.drumHitsEnum.Snare, s.key)"-->
<!--                > {{ s.value }} </li>-->
<!--              </ul>-->
<!--            </td>-->
<!--            <td>-->
<!--              <ul>-->
<!--                <li *ngFor="let s of sound"-->
<!--                    [ngClass]="{ active: curActiveSounds.KICK === s.key }"-->
<!--                    (click)="setupActiveSound(this.drumHitsEnum.Kick, s.key)"-->
<!--                > {{ s.value }} </li>-->
<!--              </ul>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </table>-->
<!--      </ng-container>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->



