$main-background: #000 radial-gradient(ellipse at top, #18789b 0,#276585 70%);
$btn-height: 40px;
$btn-padding: 8px 12px;
$btn-primary-padding: 8px 36px;
$td-double-padding: 20px;

:host {
  display: table;
  width: 100vw; height: 100vh;

}
.preload {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #276585;
}

.container {
  height: 100%;
  background: $main-background;

  .header, .footer {
    height: 50%;
  }

  .header {
    table {
      width: 100%; height: 100%;
      border-collapse: collapse;

      tr {
        height: 33.33%;
      }

      td {
        border: 1px solid red;
        text-align: center;
        vertical-align: middle;

        &.column {
          &-1 {
            width: 20%;
          }
        }
      }
    }
  }

  .footer {
    padding-left: 2px;
  }
}

.btn {
  &-play {
    display: inline-block;
    border: 1px solid blue;
    width: calc(100% - $td-double-padding); height: calc(100% - $td-double-padding);
    margin: 20% 0;

    input {
      display: none;
    }

    input:checked + label {
      animation-name: initial;
      animation-duration: initial;
      animation-timing-function: initial;
      animation-direction: initial;
      animation-iteration-count: initial;
      animation-fill-mode: initial;
      animation-play-state: initial;
    }

    label {
      display: block;
      width: 100%; height: 100%;
      //position: relative;
      background-color: white;
      clip-path: polygon(0% 0%,  100% 50%, 0% 100%);

      animation-name: flicker;
      animation-duration: .5s;
      animation-timing-function: ease-out;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-fill-mode: none;
      animation-play-state: running;
    }
  }

  &-count {
    position: relative;

    &.active {
      button {
        box-shadow: 0 0 4px white;
      }
    }

    button {
      width: calc(100% - $td-double-padding); height: $btn-height;
      padding: $btn-padding;
    }

    .select {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      bottom: -2px; left: 0;
      transform: translate(0, 100%);
      border-radius: 8px;
      background-color: black;

      .option {
        padding: 8px 0;
        flex-grow: 1;
        text-align: center;

      }
    }
  }

  &-temp {
    position: relative;
    width: 40%; height: 40px;
    padding: $btn-padding;
    font-size: 36px;
    line-height: 0;
    vertical-align: middle;
    background-color: rgba(white, .2);

    &:before {
      content: "";
      clear: both;
      position: absolute;
      top: 25%;
      display: block;
      width: 1px; height: 50%;
      background: rgba(white, .6);
    }


    &:first-child {
      span {
        position: relative;
        top: -2px;
        font-size: 46px;
      }
    }

    &:nth-child(1) {
      border-radius: 4px 0 0 4px;

      &:before {
        right: 0;
      }
    }

    &:nth-child(2) {
      border-radius: 0 4px 4px 0;

      &:before {
        left: 0;
      }
    }
  }

  &-tap {
    width: calc(100% - $td-double-padding); height: calc(100% - $td-double-padding);
  }

  &-progTempo, &-beatHeader {
    width: calc(100% - $td-double-padding); height: $btn-height;
    padding: $btn-padding;
  }

  &-primary {
    width: auto; height: $btn-height;
    margin-right: 20px; padding: $btn-primary-padding;
  }
}

.range {
  &-bpm, &-swing {
    position: relative;


    span {
      position: absolute;
      left: 1px; bottom: 4px;
      display: block;
      width: 100%; height: 4px;
      background-color: white;
      border-radius: 4px;
      pointer-events: none;
    }

    input {
      width: 100%;
    }
  }
  &-bpm {
    display: block;
    width: calc(100% - $td-double-padding);
    margin: auto;
  }

  &-swing {
    display: inline-block;
    width: 40%;
  }
}

.bank-mobile {
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  th {
    padding: 8px;
    //color: rgba(white, .8);
    text-transform: uppercase;
    background-color: rgba(black, .6);
  }

  td {
    width: 33.33%;

    ul {
      height: calc(100% - 4px);
      overflow: auto;
    }
    li {
      padding: 4px;
      text-align: center;

      &.active {
        background-color: rgba(white, .1);
        border-radius: 4px;
      }
    }
  }
}


//@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
//  :host {
//    display: block;
//    width: 100vh; height: 100vw;
//    border: 1px solid red;
//  }
//}


@keyframes flicker {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
