.bpm-control,
.beats-control {
  text-align: center;

  h1, p {
    margin: 0;
  }

  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 2rem;
  }

  button {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
}

$sizes: 3, 4, 5, 6;

@each $size in $sizes {
  .fieldset-#{$size} {
    input[type=checkbox]:nth-child(#{$size}n) {
      margin-right: 1rem;
    }
  }
}
