/* You can add global styles to this file, and also import other style files */

body {
  margin: 0; padding: 0;
  color: white;
  background-color: darkslategray;
  box-shadow: 0 1px 0 rgba(black, .2);
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  color: rgba(white, .6);
  text-transform: uppercase;
  background-color: rgba(black, .4);
  border: none;
  border-radius: 4px;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  //overflow: hidden;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgba(black, .8);
  border-radius: 0.5rem;
  height: 4px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  //box-shadow: -200px 0 0 200px white;

  /*custom styles*/
  background-color: #ffffff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid white;
  outline: 1px solid white;
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(white, .2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(black, .6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(black, .8);
}
