$sizes: 3, 4, 5, 6;
@each $size in $sizes {
  .fieldset-#{$size} {
    label:nth-child(#{$size}n){
      margin-right: 10px;

    }

    label:last-child {
      margin-right: 0;
    }
  }
}

.fieldset {
  input[type=checkbox] {
    display: none;
  }

  label {
    width: 40px; height: 40px;
    display: inline-block;
    margin-right: 1px;
    border-radius: 4px;
    background: radial-gradient(circle, rgba(255,255,255,.1) -200%, rgba(0,0,0,1) 100%);

    &[data-check="1"] {
      background: radial-gradient(circle, rgba(255,255,255,1) -200%, rgba(255,255,255,.1) 100%);
    }

    &[data-check="2"] {
      //background-color: r
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,.2) 100%);
    }

    &.current {
      box-shadow: 0 0 2px 1px red;
    }
  }

  &.length {
    &-16 {
      label {
        width: 40px; height: 40px;
      }
    }

    &-20 {
      label {
        width: 34px; height: 34px;
      }
    }

    &-24 {
      label {
        width: 28px; height: 28px;
      }
    }

    &-28 {
      label {
        width: 22px; height: 22px;
      }
    }

    &-30 {
      label {
        width: 20px; height: 20px;
      }
    }

    &-36 {
      label {
        width: 18px; height: 18px;
      }
    }
  }
}
